.back{
    position: sticky;
    font-size: 35px;
    width: 100%;
    z-index: 1;
    bottom: 10px;   
    left: -50px;
    position: fixed;
    font-weight: 900;
}
a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
